.block{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #f0f0f0;
    z-index: -100;
    overflow:hidden;
}
.svg-container{
    background-color: transparent;
}
.line1{
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding-bottom: 100px;
    padding-top: 100px;
}
a{
    text-decoration: none;
    background-color: transparent;
    color: black;
}
.line2{
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
}
.line3{
    display: flex;
    justify-content: space-around;
    align-items: end;
    flex-direction: row;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: transparent;
}
.projects-page{
    width: 80%;
    height: 80px;
    align-items: center;
    border-radius: 100px;
    justify-content: space-around;
    font-size: 25px;
    font-family: gilroy-medium, sans-serif;
    color: rgb(34, 34, 34);
    border-width: .75px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 1000ms;
}
.projects-page:hover{
    background-color: white;
    z-index: 100;
}
.button{
    display: flex;
    justify-content: space-around;
    background-color: transparent;
}