.honors-head{
    font-size: 150px;
    font-family: gilroy-medium, sans-serif;
    color:#383837;
    display: flex;

}
.honors{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    
}
.n{
    color: #5FCFA0;
    font-family: "MAZIUS REVIEW 20.09", sans-serif;
    font-style: italic;
}
.subtext{
    font-size: 12px;
    color: gray;
    font-family: gilroy-medium, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.list-and-photo{
    display: flex;
    justify-content: space-between;
}
.wrapper{
    font-family: gilroy-semiBold,sans-serif;
    padding: 50px;
    text-align: left;
    
}
.self-image{
    background-image: url('/Users/ajayyadav/Documents/react-app/PorfolioWebsite/portfolio-site/src/Images/ajay.jpeg');
    border-radius: 20px;
    height: 245px;
    width: 320px;
    background-repeat: no-repeat;
    background-size: 320px;
    background-position: bottom;
    
}
.wrapper h1{
    padding-bottom: 20px;
    font-size: 28px;
    color:#383837;
}
.wrapper p{
    color: gray;
    font-size: 13px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.list{
    width:60%;
    padding-top: 50px;
    margin-right: 50px;
}
