.work
{
    background-color: #F0F0F0;
    height: auto;
    display: block;
    overflow:hidden;
    
}
.arrow
{
    height: 64px;
    width: 64px;
    margin-left: 90px;
    margin-top: 100px;
    float: left;
}
.web-and-mobile{
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-right: 90px;
    margin-top: 25px;
    text-align: left;
    
}
.services
{
    font-size: 12px;
    color: #a8a5a5;
    font-family: gilroy-medium, sans-serif;
    background-color: #F0F0F0;
    padding-bottom: 20px;
    font-weight: 500;
}
.mob-web
{
    color:#383837;
    font-size: 20px;
    font-family: gilroy-medium, sans-serif;
    background-color: #F0F0F0;
    font-weight: 500;
}
.can
{
    font-family: timberline, sans-serif;
    background-color: #F0F0F0;
    font-weight: 500;
}
.xline
{
    background-color: #5e5d5d;
    height: 2px;
    width: 100%;
}
.c-works
{
    background-color: #F0F0F0;
}
.in-view{
    transform: scaleX(1);
}


.c-works hr{
    width: 86%;
    background-color: rgba(65,65,65,.3);
    margin: 200px 0 200px 0;
}

.feat-work
{
    font-size: 139px;
    font-family: gilroy-medium, sans-serif;
    height: auto;
    width: auto;
    background-color:#F0F0F0;
    padding-bottom: 100px;
    color:#383837;
}
.feat
{
    display: flex;
    justify-content: center;
    background-color: #F0F0F0;
}
.number
{
    background-color: #F0F0F0;
    font-family: gilroy-medium, sans-serif;
    padding-left: 40px;
    align-items: center;
}
.num
{
    background-color: #F0F0F0;
    font-family: gilroy-medium, sans-serif;
    font-size: 25px;
    align-items: center;
}
.sp
{
    color: #5FCFA0;
    font-family: "MAZIUS REVIEW 20.09", sans-serif;
    font-style: italic;
}